$primaryColor: #ED1164;
$secondaryColor: #91A3AD;
$lightGrayColor: #ffebf2;
$lightGrayColorWithOpacity: #ffebf280;
$mediumGrayColor: #91a3ad;
$darkGrayColor: #575757;
$errorColor: #ed421C;


$mediaDesktop: 1040px;
